@charset "UTF-8";

/* Typical Device Breakpoints
----------------------------------
Pequenas telas: até 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* TABLET */
    body {
        background-image: linear-gradient(to top, #A7C7F8, #414E5A);
    }

    section#login {
        display: flex;
        width: 80vw;
        height: 300px;
    }

    #imagem {
        order: 1;
        width: 30%;
        height: 100%;
    }

    #formulario {
        order: 2;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {

    /* DESKTOP */
    body {
        background-image: linear-gradient(to top, #A7C7F8, #414E5A);
    }

     section#login {
        display: flex;
        flex-direction: row;
        width: 950px;
        height: 350px;
    }

     #imagem {
        order: 2;
        width: 50%;
        height: 100%;
    }

    #formulario {
        order: 1;    
        width: 50%;
    }

    #formulario > h1 {
        font-size: 2em;
    }

    #formulario > p {
        font-size: 1em;
        margin-bottom: 20px;
    }
}