@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #414e5a;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #fff;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.190);
    overflow: hidden;
    transition: ease width .3s, heigth .3s;
}

section h1 {
    text-align: center;
    margin-bottom: 10px;
}

section p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

section {
    padding: 10px;
}

#imagem {
    background-image: url(../imagens/pexels-maksym-harbar-14809369.jpg);
    height: 200px;
    background-position: bottom center;
    background-size: cover;
}

.input-Box {
    background-color: #414e5a;
    height: 40px;
    width: 100%;
    margin: 5px 0px;
    border-radius: 8px;
    border: 2px solid #414e5a;
}

.input-Box input {
    background-color:  #a7c7f8;
    height: 100%;
    border-radius: 8px;
    border: none;
    padding: 4px;
    font-size: 1em;
    width: calc(100% - 45px);
    transform: translateY(-13px);  
}

.input-Box input:focus {
    background-color: #fff;
}

.input-Box label {
    display: none;
}

.input-Box span {
    color: #fff;
    font-size: 2rem;
    padding: 5px;
    width: 40px;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
    background-color: #88b6fb;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #A7C7F8;
}

.botao {
    display: block;
    text-decoration: none;
    text-align: center;
    height: 40px;
    padding: 8px;
    color: #88b6fb;
    border: 2px solid #A7C7F8;
    border-radius: 8px;
}

.botao:hover {
    background-color: #cde1fd;
}

.botao span {
    font-size: 0.8em;
}

/* Media Query */

@media screen and (min-width: 768px) and (max-width: 992px) {
                    /* Tablet */

    body {
        background-image: linear-gradient(to top, #A7C7F8, #414E5A);
    }
    
    main {
        width: 80vw;
        height: 300px;
        display: flex;
    }

    .input-Box input {
        width: calc(100% - 45px);
        transform: translateY(-12px); 
    }

    #imagem {
        width: 30%;
        height: 100%;
    }

    section {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
                /* Desktop */
               
    body {
        background-image: linear-gradient(to top, #A7C7F8, #414E5A);
    }
    
    main {
        width: 950px;
        height: 350px;
        display: flex;
    }

    main h1 {
        font-size: 2rem;
    }

    main p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .input-Box input {
        width: calc(100% - 45px);
        transform: translateY(-12px); 
    }

    #imagem {
        order: 2;
        width: 50%;
        height: 100%;
    }

    section {
        order: 1;
        width: 50%;
        height: 50%;
    }
}

